<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Selamat datang di rental mobil online</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
<h1>Selamat datang di rental mobil online</h1>
<h2><a href="/penyewa" th:href="@{/penyewa}">Manajemen Penyewa</a></h2>
    <h2><a href="/penyewa" th:href="@{/mobil}">Manajemen Mobil</a></h2>
    <h2><a href="/penyewa" th:href="@{/biaya/}">List Biaya</a></h2>
</div>
</body>
</html>