<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css}">
    <title>[[${pageTitle}]]</title>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>[[${pageTitle}]]</h2></div>
    <form th:action="@{/penyewa/save}" method="post" th:object="${penyewa}" class="mx-auto" style="width: 500px;">
        <div class="border border-secondary">
<input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label for="nama_penyewa" class="form-label">Nama Penyewa</label>
            <input type="text" class="form-control" id="nama_penyewa" th:field="*{nama_penyewa}">
        </div>

        <div class="mb-3">
            <label for="tanggal_mulai_sewa" class="form-label">Tanggal Mulai Sewa</label>
            <input type="date" class="date form-control" id="tanggal_mulai_sewa" th:field="*{tanggal_mulai_sewa}">
        </div>

        <div class="mb-3">
            <label for="tanggal_selesai_sewa" class="form-label">Tanggal Selesai Sewa</label>
            <input type="date" class="date form-control" id="tanggal_selesai_sewa" aria-describedby="emailHelp" th:field="*{tanggal_selesai_sewa}">
        </div>
            <div class="mb-3">
                <label for="keterangan" class="form-label">Keterangan</label>
                <input type="text" class="form-control" id="keterangan" aria-describedby="emailHelp" th:field="*{keterangan}">
            </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" th:field="*{status}">
            <label class="form-check-label" for="exampleCheck1">Status</label>
        </div>
        <button type="submit" class="btn btn-primary m-2">Submit</button>
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function cancelForm() {
window.location = "[[@{/penyewa/}]]";
    }
</script>
<script type="text/javascript">
    $(".date").datepicker({
        format: "yyyy-mm-dd",
    });
</script>
<script src=
                "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js">
</script>
</body>
</html>